.virtualCursor {
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 99;
  pointer-events: none;
  opacity: 0.8;
  background: orange;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.amenButton {
  position: fixed;
  top:2px;
  left: 2px;
}

.shareButton {
  position: fixed;
  top:2px;
  right: 2px;
}

#debugger {
  display: none;
}

#bodyContent {
  background: rgb(0,0,0,0,3);
}

.languageItemHolder {
  background: #64ffda;
  border-radius: 4px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  width: 30%;
  float: left;
  background: #64ffda;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
 }
