

.virtualCursor {
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 1000;
  pointer-events: none;
  opacity: 0.8;
  background: orange;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.amenButton {
  top:2px;
  left: 2px;
}

.shareButton {
  top:2px;
  right: 2px;
}

#debugger {
  display: none;
}

#bodyContent {
  background: rgb(0,0,0,0,3);
}

.languageItemHolder {
  background: #64ffda;
  border-radius: 4px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  width: 30%;
  float: left;
  background: #64ffda;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
 }

#connectionBanner {
  width: 100vw;
  height: 35px;
  background: black;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  align-items: center;
}

#connectionBannerLeft{}
#connectionBannerRight{}
#connectedCount, #connectedCountMobile{color: white;}

.navbar {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 2px !important;
    min-height: 40px !important;
    /* overflow:auto; */
 }
 .dropdown-menu {
   max-height: 50vh;
   overflow-y: scroll;
  }

  .dropdown-menu::-webkit-scrollbar {
      -webkit-appearance: none;
  }

  .dropdown-menu::-webkit-scrollbar:vertical {
      width: 11px;
  }

  .dropdown-menu::-webkit-scrollbar:horizontal {
      height: 11px;
  }

  .dropdown-menu::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white; /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, 1);
  }

 .dropdown-item:hover {
   cursor: pointer;
 }

 @media only screen and (max-width: 768px) {
   .navbar-collapse {
     max-height: 100vh;
     overflow-y: auto;
   }
 }

 #bible-chapter-text {
   text-align: left;
 }

 .navbar-brand {
   padding-left: 5px;
 }



 .heart {
     position: absolute;
     top: -50%;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -m-transform: rotate(-45deg);
     transform: rotate(-45deg)
  }

 .heart:before {
     position: absolute;
     top: -50%;
     left: 0;
     display: block;
     content: "";
     width: 100%;
     height: 100%;
     background: inherit;
     border-radius: 100%;
 }

 .heart:after {
     position: absolute;
     top: 0;
     right: -50%;
     display: block;
     content: "";
     width: 100%;
     height: 100%;
     background: inherit;
     border-radius: 100%;
 }

 .highlighted {
   background: yellow;
 }

 .mark, mark {
    padding: 0 !important;
}
